<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Demo</title>
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<div>
  <section>
    <h2>Reservations</h2>
    <a href="{{ path('ecommerce_demo_shop_reservation_catalog') }}">Visit the demo</a>
  </section>
</div>
</body></html>
